:root {
  --padding: 65px;
  --main-font: "Baskervville", serif;
  --title-font: "Smythe", serif;
  --main-color: #222d25;
  --bgimage: url(../images/old-paper-texture-background.jpg);
}

*, html {
  scroll-behavior: smooth !important;
  font-family: var(--main-font);
  font-size: 22px;
}

body {
  background: #fff var(--bgimage) repeat-y top center;
  background-size: contain;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  color: var(--main-color);
}

section {
  padding-top: var(--padding);
}

section > * {
  padding-left: var(--padding);
  padding-right: var(--padding);
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: var(--title-font);
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 0px;
}

h1 {
  margin-top: 0;
  padding-top: 0px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

a, a:visited {
  color: var(--main-color);
}

blockquote {
  font-style: italic;
}

section li {
  margin-left: 20px;
}

/* Portada */
section:first-of-type {
  background: #fff url(../images/portada.jpg) repeat-y top center;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Interiores */
section:nth-of-type(2) {
  height: 100vh;
  box-sizing: border-box;
}

section:nth-of-type(8) {
  height: 100vh;
  box-sizing: border-box;
}

section:nth-of-type(8) > div.saltopagina {
  display: none;
}

/* Contraportada */
section:last-of-type {
  background: #fff url(../images/contraportada.jpg) repeat-y top center;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Indice */
.likeH1,
.likeH2,
.likeH3 {
  display: block;
  cursor: pointer;
  margin: 0 0 3px 0;
  text-decoration: none;
  font-size: 1em;
  max-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.likeH2 {
  padding: 0 0 0 15px;
}

.likeH3 {
  padding: 0 0 0 30px;
}

.likeH1 span, .likeH2 span, .likeH3 span {
  display: none;
  float: right;
  margin-right: 5px;
}

/* Imagenes */
section p img:not(section:first-of-type img, section:nth-of-type(2) img, section:nth-of-type(3) img, section:nth-of-type(8) img, section:last-of-type img) {
  border: none;
  max-width: 100%;
  width: 100%;
}

p:has(img) {
  margin-top: 0;
}

/* Paginación */
@counter-style style {
  system: numeric;
}

body {
  counter-reset: primary 2;
}

.saltopagina {
  position: relative;
  counter-increment: primary 1; /* Increment the value of section counter by 1 */
}

.saltopagina:after {
  --size: 20px;
  font-family: var(--title-font);
  display: flex;
  justify-content: center;
  align-items: center;
  content: counters(primary, "-", style);
  color: var(--color-bic);
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: var(--size);
  height: var(--size);
  z-index: 10;
  opacity: 1;
  font-size: 1.5em;
}

.saltopagina.odd:after {
  left: 20px;
  right: auto;
}

@media screen {
  .saltopagina { display: block; height: 0; overflow: hidden; }

  section:nth-of-type(2),
  section:nth-of-type(8) {
    display: none;
  }

  section:first-of-type,
  section:last-of-type {
    background-size: cover;
  }
}

@media print {

  @page {
    size: A4;
    margin: 0;
  }

  .nopdf {
    display: none;
  }

  .saltopagina + h2,
  .saltopagina + h3 {
    margin-top: 0;
    padding-top: 0;
  }
  
  .saltopagina {
    display: block;
    page-break-before: always;
    height: 1px;
    padding: 0;
    margin: 0px;
    opacity: 1; 
    position: relative;
  }

  section .saltopagina + * {
    padding-top: var(--padding);
    margin: 0;
  }

  .likeH1 span,
  .likeH2 span,
  .likeH3 span {
    display: block;
  }
}

/* Propio del libro ----- */
/* ---------------------- */
section:first-of-type {
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

section:last-of-type {
  box-sizing: border-box;
  padding: 40px;
  margin: 0;
  position: relative;
}

section:first-of-type:before,
section:last-of-type:before {
  content: "";
  display: block;
  border: 5px solid #836f39;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  position: absolute;
  top: 10px;
  left: 10px;
}

section:first-of-type:after,
section:last-of-type:after {
  content: "";
  display: block;
  border: 10px solid #836f39;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  position: absolute;
  top: 20px;
  left: 20px;
}

section:first-of-type *,
section:last-of-type * {
  color: #836f39;
}

section:last-of-type > p,
section:last-of-type li {
  font-family: var(--title-font);
  font-size: 1.5em;
}

section:last-of-type > p * {
  font-size: inherit;
  font-family: var(--title-font);
}

section:first-of-type h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 3.3em;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 1px 0px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7), -1px 0px 0px rgba(0, 0, 0, .7);
}

section:first-of-type h2 {
  padding: 20px 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 1px 0px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7), -1px 0px 0px rgba(0, 0, 0, .7);
}

section:first-of-type img:first-of-type {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 150px;
  padding: 0;
  margin: 0;
  filter: drop-shadow(0px 0px 4px #000);
}

section:first-of-type img:nth-of-type(2) {
  filter: drop-shadow(0px 0px 4px #000);
}

section:nth-of-type(2),
section:nth-of-type(8) {
  position: relative;
}

section:nth-of-type(2) img:first-of-type {
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
  width: 400px;
  padding: 0;
  margin: 0;
}

section:nth-of-type(2) img:nth-of-type(2) {
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  width: 200px;
  padding: 0;
  margin: 0;
}

section:nth-of-type(8) img:first-of-type {
  position: absolute;
  top: 25px;
  right: var(--padding);
  width: 500px;
  padding: 0;
  margin: 0;
}

section > blockquote > p > img[alt^=Lingote] {
  width: 150px !important;
  float: right;
}

section > blockquote > p > img[alt^=Pala] {
  width: 135px !important;
  float: right;
}

@media print {
  section:nth-of-type(3) > p:first-child {
    margin-top: 100%;
  }
}