:root {
  --padding: 95px; /*Ancho de los bordes de la página*/
  --padding2: 75px; /*Ancho de los bordes de la página*/
  --color-red: #61207c;
  --color-white: #5aa31f;
  --color-black: #1c375c;
  --color-grey: #dedede;
  --color-dark-grey: #e3fe73;
}

@font-face {
  font-family: 'Dracutaz';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Dracutaz.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  font-family: "Syne Mono", monospace;
  color: var(--color-black);
  font-size: 20px;
  overflow-x: hidden;
}

body > * {
  padding: 0 0 calc(var(--padding) / 3) 0;
  margin: 0 var(--padding);
}

body > *:first-child {
  margin-top: var(--padding);
  padding-top: 0;
}

.columns {
  columns: 1;
}

.columns > *:is(h2,h3):first-child,
.saltocolumna + *:is(h2,h3) {
  margin-top: 0;
  padding-top: 0;
}

.saltocolumna {
  display: block;
  break-before: column;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

blockquote {
  border: 3px solid var(--color-red);
  padding: 0px;
  margin: 10px 0px;
  color: black;
  font-family: "Special Elite", system-ui;
  font-size: 1em;
  line-height: 130%;
}

blockquote p {
  padding: 15px 15px 10px 15px;
  margin: 0px;
  background: var(--color-dark-grey);
}

pre {
  white-space: pre-wrap;
  padding: 0px;
  text-align: center
}

pre * {
  font-family: "Dracutaz";
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 1em;
  font-style: italic;
}
b, strong {
  font-family: "Special Elite", system-ui;
  font-weight: 900;
}

/* Titulares */
h1 {
  background: #201c37 url(../images/titular.jpg) top center no-repeat;
  background-size: cover;
  font-family: "Dracutaz";
  color: var(--color-red);
  text-align: center;
  font-size: 1.5em;
  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--padding) * -1);
  text-shadow: 3px 0px 3px var(--color-black), 0px 3px 3px var(--color-black), -3px 0px 3px var(--color-black), 0px -3px 3px var(--color-black);
  line-height: 120%;
  width: calc(100% + (var(--padding) * 2));
  height: 100vh;
  z-index: 100;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 500px) {
  h1 {
    font-size: 3.5em;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 5em;
  }
}

h1 > a {
  display: block;
  text-align: center;
  font-size: 18px;
  width: 100%;
  color: var(--color-white);
  font-family: "Dracutaz";
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  margin-top: -20px;
}

h2,
h3 {
  font-family: "Dracutaz";
  font-weight: 400;
  font-style: normal;
  color: var(--color-red);
  margin-bottom: 5px;
  padding-bottom: 0px;
  line-height: 120%;
}

h2 {
  font-size: 2.8em;
  color: var(--color-red);
  text-shadow: -2px 0px 1px var(--color-black), 0px 2px 1px var(--color-black), 2px 0px 1px var(--color-black), 0px -2px 1px var(--color-black);
  font-style: italic;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.8em;
  font-family: "UnifrakturMaguntia", cursive;
  letter-spacing: 0px;
}

h2 + p, 
h3 + p {
  margin-top: 0px;
}

/* Otros elementos */
p,
ul {
  margin: 0.45em 0;
}

a {
  color: var(--color-black);
}

ul {
  padding-left: 19px;
}

ul li {
  list-style-type: none;
  position: relative;
}

ul li:before {
  content: "";
  width: 15px;
  height: 16px;
  position: absolute;
  top: 6px;
  left: -19px;
  display: block;
  background: transparent url(../images/anarquia.png) center center no-repeat;
  background-size: cover;
}

ol {
  padding-left: 23px;
}

table {
  margin-top: 5px;
  width: calc(100% - 4px);
  box-sizing: border-box;
  padding: 0;
  position: relative;
  margin: 15px 0;
}

table thead tr th {
  text-align: left;
  font-weight: 700;
  background-color: var(--color-black);
  font-size: 1.8em;
  color: var(--color-white);
  font-family: "Dracutaz";
  padding: 6px 3px 0px 3px;
}

table thead tr th:first-of-type {
  clip-path: polygon(0% 0%, calc(100% - 2px)0%, 100% 100%, 0% 100%);
}

table thead tr th:last-of-type {
  clip-path: polygon(0% 0%, 100% 0%, calc(100% - 2px) 100%, 0% 100%);
}

table tbody tr:nth-child(even) {
  background-color: var(--color-red);
  color: var(--color-grey);
}

table tbody tr:nth-child(odd) td {
  padding: 10px;
  border-right: 1px solid var(--color-red);
}

img {
  max-width: 100%;
}

img[alt^='Pergeñado'] {
  width: 250px;
  border: none;
  margin: 0px auto;
  display: block;
  background: transparent !important;
}

h3 + p img {
  margin-top: 10px;
}

a.pdf {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: var(--color-black);
  background-color: var(--color-red);
  display: block;
  padding: 10px;
  margin: 0px;
  font-family: "Dracutaz";
  font-size: 20px;
  text-decoration: none;
  z-index: 100;
}

a.pdf:nth-of-type(2) {
  bottom: auto;
  top: 0px;
}

hr {
  border: none;
  border-bottom: 2px solid var(--color-red);
  margin: 30px 0px;
}

@media screen and (max-width: 840px) {
  body {
    padding: 0 10px;
  }

  body:after,
  body:before {
    opacity: 0;
  }

}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .nopdf {
    display: none !important;
    visibility: hidden !important;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  .saltopagina + * {
    margin-top: var(--padding);
    padding-top: 0;
  }
}

/* Paginación */
@counter-style style {
  system: numeric;
}

body {
  counter-reset: primary 0;
}

.saltopagina {
  position: relative;
  counter-increment: primary 1; /* Increment the value of section counter by 1 */
}

.saltopagina:after {
  --size: 32px;
  font-family: "Dracutaz";
  display: flex;
  justify-content: center;
  align-items: center;
  content: counters(primary, "-", style);
  position: absolute;
  bottom: 0px;
  left: calc(var(--padding) * -1);
  width: var(--size);
  height: var(--size);
  z-index: 20;
  opacity: 1;
  font-size: calc(var(--size) * 1.8);
  padding: 17px 5px 3px;
  color: var(--color-black);
}

.saltopagina.odd:after {
  left: auto;
  right: calc(var(--padding) * -1);
}

@media screen {
  .saltopagina:after, .saltopagina:before {
    opacity: 0;
  }
}

@media screen {
  .saltopagina {
    overflow-x: hidden;
  }

  .saltopagina:after {
    display: none;
  }

  .columns {
    columns: auto;
  }

    body {
    font-size: 22px;
  }

  section {
    max-width: 700px;
    margin: auto;
  }
}

@media screen {
  .saltopagina {
    display: none;
  }
}

@media print {
  .saltopagina {
    display: block;
  }
}

p:has(a.musical) {
  position: relative;
  transform: rotate(2deg);
}

h2 + p + p + p {
  transform: rotate(-1deg);
}

h3 + p + p {
  transform: rotate(1deg);
}

a.musical {
  font-size: 0px;
  background-color:  var(--color-red);
  border-radius: 30px;
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 30px;
  right: -45px;
  text-align: center;
  text-decoration: none;
}

a.musical:before {
  content: "♪";
  font-family: "Dracutaz";
  color: white;
  font-size: 50px;
  color: var(--color-white);
}