:root {
  --main-color: #ffffff;
  --secondary-color: #555555;
  --accent-color: #800000;
  --background-color: #333333;
}


@font-face {
  font-family: 'Caesar Dressing';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./CaesarDressing-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./OpenSans-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./OpenSans-Bold.ttf) format('woff2');
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background-color: var(--background-color);
  color: var(--main-color);
}

body:before,
body:after {
  content: "";
  position: fixed;
  top: 0;
  left: calc(33.33% - 1px);
  width: 1px;
  height: 100vh;
  border-left: 1px dashed var(--main-color);
}

body:after {
  left: calc(66.66% - 1px);
}

* {
  margin: 0 0 5.5px 0;
  padding: 0;
}

a,
a:visited {
  color: var(--main-color);
}

/* -------------- TITULOS -------------- */

h1,
h2,
h3,
h4 {
  font-family: "Caesar Dressing", system-ui;
}

/* -------------- TEXTOS -------------- */

ul li {
  margin-bottom: 3px;
  margin-left: 18px;
}

/* -------------- TABLAS -------------- */

table {
  font-size: 10px;
}

/* -------------- COLUMNAS -------------- */

.columns {
  columns: 3;
  column-gap: 60px;
  padding: 35px
}

.saltocolumna {
  display: block;
  break-before: column;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}


@media print {
  @page {
    size: A4 landscape;
    margin: 0
  }
  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}