:root {
  --main-color: #ffffff;
  --secondary-color: #7dd6b8;
  --accent-color: #7e5887;
  --background-color: #273333;
}


@font-face {
  font-family: 'Caesar Dressing';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./CaesarDressing-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./OpenSans-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./OpenSans-Bold.ttf) format('woff2');
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  background-color: var(--background-color);
  color: var(--main-color);
}

body:before,
body:after {
  content: "";
  position: fixed;
  top: 0;
  left: calc(33.33% - 1px);
  width: 1px;
  height: 100vh;
  border-left: 1px dashed var(--main-color);
}

body:after {
  left: calc(66.66% - 1px);
}

* {
  margin: 0 0 5px 0;
  padding: 0;
}

a,
a:visited {
  color: var(--main-color);
}

img {
  max-width: 100%;
}

blockquote {
  border: 1px solid var(--accent-color);
  padding: 5px;
  color: var(--secondary-color);
}

blockquote a {
  color: var(--secondary-color);
}

/* -------------- TITULOS -------------- */

h1,
h2,
h3,
h4 {
  font-family: "Caesar Dressing", system-ui;
}

h1 {
  font-size: 35px;
  margin: -60px 20px 20px 10px;
  color: var(--accent-color);
  text-shadow: 3px 0px 3px var(--secondary-color), 0px 3px 3px var(--secondary-color), -3px 0px 3px var(--secondary-color), 0px -3px 3px var(--secondary-color);
}

h4 {
  font-size: 1.8em;
  text-align: center;
}

/* -------------- TEXTOS -------------- */

ul li {
  margin-bottom: 3px;
  margin-left: 18px;
}

/* -------------- TABLAS -------------- */

table {
  border-collapse: collapse;
  width: 100%;
}

table:last-of-type {
  font-size: 8.5px;
}

table tr:nth-child(odd) {
  background-color: var(--accent-color);
}

table tr:nth-child(even) {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

table td,
table th {
  padding: 1.5px;
}

/* -------------- COLUMNAS -------------- */

.columns {
  columns: 3;
  column-gap: 50px;
  padding: 24px
}

.saltocolumna {
  display: block;
  break-before: column;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}


@media print {
  @page {
    size: A4 landscape;
    margin: 0
  }
  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}