:root {
  --padding: 65px; /*Ancho de los bordes de la página*/
  --padding2: 45px; /*Ancho de los bordes de la página*/
  --color-red: #FFDE00;
  --color-white: #faffcd;
  --color-black: #3B4CCA;
  --color-grey: #dedede;
  --color-dark-grey: #949494;
}

@font-face {
  font-family: 'Korataki';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./korataki.otf") format("opentype");
}

@font-face {
  font-family: 'Korataki';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src: url("./korataki_italic.otf") format("opentype");
}

@font-face {
  font-family: 'Korataki';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./korataki_light.otf") format("opentype");
}

@font-face {
  font-family: 'Korataki';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url("./korataki_lightitalic.otf") format("opentype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./OpenSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./OpenSans-Bold.ttf") format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: var(--color-black);
  font-size: 17px;
  overflow-x: hidden;
}

body:before {
  content: "";
  display: block;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: var(--color-black);
  background: linear-gradient(180deg,var(--color-black) 40%, var(--color-red) 40%);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%, 
    calc(100% - var(--padding2)) calc(75% - var(--padding2)), 
    calc(100% - var(--padding2)) var(--padding2),
    var(--padding2) var(--padding2),
    var(--padding2) calc(75% - var(--padding2)),
    0% 75%);
}

body > * {
  padding: 0 0 calc(var(--padding) / 3) 0;
  margin: 0 var(--padding);
}

body > *:first-child {
  margin-top: var(--padding);
  padding-top: 0;
}

.columns {
  columns: 2;
}

.columns > *:is(h2,h3):first-child,
.saltocolumna + *:is(h2,h3) {
  margin-top: 0;
  padding-top: 0;
}

.saltocolumna {
  display: block;
  break-before: column;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

blockquote {
  border: 3px solid var(--color-dark-grey);
  border-radius: 8px;
  padding: 0px;
  margin: 10px 0px;
  color: black;
  font-family: "Korataki";
  font-size: 0.8em;
  line-height: 130%;
}

blockquote p {
  border: 3px solid var(--color-grey);
  padding: 15px 15px 10px 15px;
  margin: 0px;
  border-radius: 6px;
  background: linear-gradient(165deg,var(--color-dark-grey) 20%, var(--color-grey) 100%);
}

pre {
  white-space: pre-wrap;
  padding: 0px;
  text-align: center
}

pre * {
  font-family: "Korataki";
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 1em;
  font-style: italic;
}

/* Titulares */
h1 {
  background: #201c37 url(../images/titular.jpg) top center no-repeat;
  background-size: cover;
  font-family: "Korataki";
  color: var(--color-red);
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-top: 0px !important;
  padding: 190px 0px 80px !important;
  text-shadow: 3px 0px 3px var(--color-black), 0px 3px 3px var(--color-black), -3px 0px 3px var(--color-black), 0px -3px 3px var(--color-black);
  line-height: 120%;
  border: 2px solid var(--color-red);
  border-radius: 3px;
  width: calc(100% - 4px);
  letter-spacing: -6px;
}

#PrimerasAndanzas h1,
h1:nth-of-type(2) {
  background-image: url(../images/7951512.jpg);
}

h1:nth-of-type(2) {
  margin-top: 65px !important;
}

@media (min-width: 500px) {
  h1 {
    font-size: 2.6em;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 3.6em;
  }
}

h1 > a {
  display: block;
  text-align: center;
  font-size: 18px;
  width: 100%;
  color: var(--color-white);
  font-family: "Korataki";
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0px;
  margin-top: -20px;
}

h2,
h3,
h4 {
  font-family: "Korataki";
  font-weight: 400;
  font-style: normal;
  color: var(--color-red);
  margin-bottom: 5px;
  padding-bottom: 0px;
  line-height: 120%;
}

h2 {
  font-size: 2.2em;
  color: var(--color-red);
  text-shadow: -2px 0px 1px var(--color-black), 0px 2px 1px var(--color-black), 2px 0px 1px var(--color-black), 0px -2px 1px var(--color-black);
  font-style: italic;
  letter-spacing: -4px;
  position: relative;
  margin-bottom: 20px;
}

h2:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -5px;
  left: 0px;
  background-color: var(--color-red);
  border: 2px solid var(--color-black);
  border-radius: 2px;
}

h3 {
  font-size: 1.3em;
  text-shadow: 2px 0px 2px var(--color-black), 0px 2px 2px var(--color-black), -2px 0px 2px var(--color-black), 0px -2px 2px var(--color-black);
}

h4 {
  font-size: 1em;
  color: var(--color-black);
  font-weight: 700;
}

h2 + p, 
h3 + p,
h4 + p {
  margin-top: 0px;
}

/* Otros elementos */
p,
ul {
  margin: 0.45em 0;
}

a {
  color: var(--color-black);
}

ul {
  padding-left: 19px;
}

ul li {
  list-style-type: none;
  position: relative;
}

ul li:before {
  content: '◒';
  position: absolute;
  font-size: 17px;
  top: -2px;
  left: -19px;
  display: block;
  color: var(--color-black);
}

ol {
  padding-left: 23px;
}

table {
  margin-top: 5px;
  width: calc(100% - 4px);
  box-sizing: border-box;
  padding: 0;
  position: relative;
  margin: 15px 0;
}

table thead tr th {
  text-align: left;
  font-weight: 700;
  background-color: var(--color-black);
  font-size: 0.8em;
  color: var(--color-white);
  font-family: "Korataki";
  padding: 6px 3px 0px 3px;
}

table tbody tr:nth-child(even) {
  background-color: var(--color-red);
}

img {
  width: 100%;
}

img[alt^='Pergeñado'] {
  width: 150px;
  border: none;
}

table.special {
  border-collapse: collapse;
  font-family: "Korataki";
  border-top: 6px double var(--color-red);
  border-bottom: 6px double var(--color-red);
  margin: 0px;
}

table.special th {
  font-family: "Korataki";
  font-size: 1.8em;
  color: var(--color-red);
  text-align: left;
  padding: 14px 10px;
}

table.special span {
  font-family: "Korataki";
  font-size: 1.35em;
  color: var(--color-red);
  font-weight: bold;
}

table.special td {
  font-size: 1.3em;
  padding: 15px 10px;
}

table.special th[colspan="4"] {
  text-align: center;
}

div:has(table.special) {
  overflow: auto;
}

h3 + p img {
  margin-top: 10px;
}

a.pdf {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: var(--color-black);
  background-color: var(--color-red);
  display: block;
  padding: 10px;
  margin: 0px;
  font-family: "Korataki";
  font-size: 20px;
  text-decoration: none;
  z-index: 100;
}

a.pdf:nth-of-type(2) {
  bottom: auto;
  top: 0px;
}

@media screen and (max-width: 840px) {
  body {
    padding: 0 10px;
  }

  body:after,
  body:before {
    opacity: 0;
  }

}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .nopdf {
    display: none !important;
    visibility: hidden !important;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  .saltopagina + * {
    margin-top: var(--padding);
    padding-top: 0;
  }
}

/* Paginación */
@counter-style style {
  system: numeric;
}

body {
  counter-reset: primary 0;
}

.saltopagina {
  position: relative;
  counter-increment: primary 1; /* Increment the value of section counter by 1 */
}

.saltopagina:after {
  --size: 17px;
  font-family: "Korataki";
  display: flex;
  justify-content: center;
  align-items: center;
  content: counters(primary, "-", style);
  position: absolute;
  bottom: 5px;
  right: -50px;
  width: var(--size);
  height: var(--size);
  z-index: 20;
  opacity: 1;
  font-size: calc(var(--size) * 0.8px);
  padding: 7px 5px 3px;
  color: var(--color-black);
  background-color: var(--color-red);
  /*border: 1px solid var(--color-black);
  border-radius: 50%;*/
}

.saltopagina.odd:after {
  right: auto;
  left: -50px;
}

.saltopagina:before {
  content: "";
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 15;
  clip-path: polygon(
    20% 100%, 
    calc(20% + var(--padding2)) calc(100% - var(--padding2)), 
    calc(95% - var(--padding2)) calc(100% - var(--padding2)), 
    calc(95% - var(--padding2)) calc(75% - var(--padding2)), 
    100% calc(75% - var(--padding2)), 
    100% calc(100% - var(--padding2)),
    100% 100%
  );
  background: linear-gradient(120deg,var(--color-black) 80%, var(--color-red) 80%);
}

.saltopagina.odd:before {
  right: 0px;
  left: auto;
  transform: scaleX(-1);
}

@media screen {
  .saltopagina:after, .saltopagina:before {
    opacity: 0;
  }
}

@media screen {
  .saltopagina {
    overflow-x: hidden;
  }

  .saltopagina:after {
    display: none;
  }

  .columns {
    columns: auto;
  }

    body {
    font-size: 22px;
  }

  section {
    max-width: 700px;
    margin: auto;
  }
}

@media screen {
  .saltopagina {
    display: none;
  }
}

@media print {
  .saltopagina {
    display: block;
  }
}