:root {
  --padding: 65px; /*Ancho de los bordes de la página*/
  --color-red: #a931ad;
  --color-red-shadow: #630e64;
  --color-red-light: #f137f3;
  --color-white: #fff;
  --color-black: #000;
}

@font-face {
  font-family: 'Fool';
  font-weight: normal;
  font-style: normal;
  src: url('./Fool.ttf') format('truetype');
}

body {
  background-color: var(--color-black);
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--color-white);
  font-size: 18px;
}

#MisterioDeLaPeninsulaDelSimio {
  --color-red: #cf650d;
  --color-red-shadow: #8f3b02;
  --color-red-light: #d67a3c;
  --color-white: #fff;
  --color-black: #000;
}

body:before {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  /*Aqui gestionamos el diseño del borde*/
  background: transparent url(../images/border1.png) top left repeat-y;
}

#MisterioDeLaPeninsulaDelSimio:before {
  background: transparent url(../images/border3.png) top left no-repeat;
}

body:after {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  /*Aqui gestionamos el diseño del borde*/
  background: transparent url(../images/border2.png) top right repeat-y;
}

#MisterioDeLaPeninsulaDelSimio:before {
  background: transparent url(../images/border3.png) top center repeat-y;
}

#MisterioDeLaPeninsulaDelSimio:after {
  background: transparent url(../images/border4.png) top center repeat-y;
}

body > * {
  padding: 0 0 calc(var(--padding) / 3) 0;
  margin: 0 var(--padding);
}

body > *:first-child,
.saltopagina + * {
  margin-top: var(--padding);
  padding-top: 0;
}

.columns {
  columns: 2;
}

.columns > *:first-child,
.saltocolumna + * {
  margin-top: 0;
  padding-top: 0;
}

.saltocolumna {
  display: block;
  break-before: column;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

blockquote {
  padding: 0px;
  margin: 10px 0px;
}

blockquote p {
  padding: 0px;
  margin: 0px;
  font-family: 'Fool';
  font-size: 1.2em;
  color: var(--color-red);
  border: 1px solid var(--color-red);
  padding: 10px;
  text-align: center;
}

pre {
  white-space: pre-wrap;
  padding: 0px;
  text-align: left;
}


pre * {
  font-family: 'Fool';
  color: var(--color-red);
  font-size: 1.4em;
  margin: 0px;
  padding: 0px;
}

/* Titulares */
h1 {
  background: var(--color-black) url(../images/titular.jpg) bottom center no-repeat;
  background-size: cover;
  font-family: 'Fool';
  color: var(--color-red);
  text-align: right;
  font-size: 2em;
  padding-top: 59%;
  padding-bottom: 7%;
  padding-right: 30px;
  margin: 0px;
  text-shadow: 3px 0px 3px var(--color-red-shadow);
  line-height: 120%;
}

#Point-n-clickEN h1 {
  background-image: url(../images/titularEN.jpg);
}

#MisterioDeLaPeninsulaDelSimio h1 {
  line-height: 110%;
  padding-left: 58%;
  background-image: url(../images/TitularMisterio.jpg);
  font-size: 1.5em;
}


@media screen and (max-width: 725px) {
  h1,
 #MisterioDeLaPeninsulaDelSimio h1 {
    background-image: none;
    padding-top: 30px;
    font-size: 2em;
    padding-left: 30px;
  }
  #Point-n-clickEN h1 {
    background-image: none;
  }
}

@media screen {
  #MisterioDeLaPeninsulaDelSimio h1 {
    padding-bottom: 1%;
  }
}



@media print {
  h1 {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    box-sizing: border-box;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    font-size: 4em;
    padding-top: 600px;
  }

  #MisterioDeLaPeninsulaDelSimio h1 {
    padding-top: 650px;
    font-size: 3.3em;
    line-height: 100%;
    padding-left: 55%;
  }
}

h1 > strong {
  display: block;
  font-size: 0.6em;
  width: 100%;
  margin-top: -30px;
  font-weight: 400;
}

h2,
h3,
h4,
h5 {
  font-family: 'Fool';
  font-weight: 400;
  font-style: normal;
  color: var(--color-red);
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 100%;
  font-weight: 400;
}

h2:not(#MisterioDeLaPeninsulaDelSimio h2) {
  background-color: var(--color-red);
  color: var(--color-black);
  font-size: 2.45em;
  text-align: center;
  margin: 0px 20px ;
  margin-top: var(--padding); 
  position: relative;
  text-shadow: 3px 0px 3px var(--color-red-shadow);
  text-shadow: 3px 0px 3px var(--color-red-light);
}

h2:not(#MisterioDeLaPeninsulaDelSimio h2):before {
  content: "";
  width: 20px;
  height: 100%;
  top: 0px;
  left: -19px;
  position: absolute;
  background: transparent url(../images/h2-1.png) center center no-repeat;
  background-size: cover
}

h2:not(#MisterioDeLaPeninsulaDelSimio h2):after {
  content: "";
  width: 20px;
  height: 100%;
  top: 0px;
  right: -19px;
  position: absolute;
  background: transparent url(../images/h2-2.png) center center no-repeat;
  background-size: cover
}

/*
  --color-red: #cf650d;
  --color-red-shadow: #8f3b02;
  --color-red-light: #e9a87c;
*/

#MisterioDeLaPeninsulaDelSimio h2 {
  --ribbon-size: 80px;
  --padding: 10px;
  font-size: 2.45em;
  background-color: var(--color-red);
  color: #fff;
  padding: var(--padding);
  position: relative;
  margin-top: 40px;
  margin-left: var(--ribbon-size);
  margin-right: var(--ribbon-size);
  margin-bottom: var(--padding);
  text-align: center;
}

#MisterioDeLaPeninsulaDelSimio h2:before {
  content: "";

  height: 100%;
  box-sizing: border-box;
  width: calc(100% + var(--ribbon-size));
  background-color: var(--color-red-light);
  background: linear-gradient(
    90deg,
    var(--color-red-light) calc((var(--ribbon-size) / 2) + var(--padding)),
    var(--color-red-shadow) calc((var(--ribbon-size) / 2) + var(--padding)),
    var(--color-red-shadow) calc(100% - (var(--ribbon-size) / 2) - var(--padding)),
    var(--color-red-light) calc(100% - (var(--ribbon-size) / 2) - var(--padding))
  );

  position: absolute;
  left: calc(var(--ribbon-size) / -2);
  top: var(--padding);
  clip-path: polygon(
    0% 0%,
    calc(var(--ribbon-size) / 2) 0%,
    calc(var(--ribbon-size) / 2) calc(100% - var(--padding)),
    calc(100% - (var(--ribbon-size) / 2)) calc(100% - var(--padding)),
    calc(100% - (var(--ribbon-size) / 2)) 0%,
    100% 0%,
    calc(100% - (var(--padding) * 2)) 50%,
    100% 100%,
    calc(100% - (var(--ribbon-size) / 2) - var(--padding)) 100%,
    calc(100% - (var(--ribbon-size) / 2) - var(--padding))
      calc(100% - var(--padding)),
    calc((var(--ribbon-size) / 2) + var(--padding)) calc(100% - var(--padding)),
    calc((var(--ribbon-size) / 2) + var(--padding)) 100%,
    0% 100%,
    calc(var(--padding) * 2) 50%
  );
}

#MisterioDeLaPeninsulaDelSimio h2:after {
  content: "";
  position: absolute;
  background-color: var(--color-red-shadow);
  width: 100%;
  bottom: calc(var(--padding) * -1);
  left: 0px;
  height: var(--padding);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - var(--padding)) 100%,
    calc(100% - var(--padding)) 0%,
    var(--padding) 0%,
    var(--padding) 100%
  );
}

h3 {
  margin-top: 5px;
  font-size: 2em;
  text-shadow: 3px 0px 3px var(--color-red-shadow);
}

h4 {
  margin-top: 5px;
  font-size: 1.3em;
  text-shadow: 3px 0px 3px var(--color-red-shadow);
}

h5 {
  margin-top: 5px;
  font-size: 1.2em;
  text-shadow: 3px 0px 3px var(--color-red-shadow);
  font-style: italic;
}

h2 + p, 
h3 + p,
h4 + p {
  margin-top: 0px;
}

/* Otros elementos */
p,
ul {
  margin: 0.45em 0;
}

a {
  color: var(--color-red);
}

ul {
  padding-left: 19px;
}

ul li {
  list-style-type: none;
  position: relative;
}

ul li:before {
  content: '✛';
  position: absolute;
  font-size: 16px;
  top: 0px;
  left: -19px;
  display: block;
  color: var(--color-red);
}

#MisterioDeLaPeninsulaDelSimio ul li:before {
  content: "";
  width: 12px;
  height: 17px;
  background: transparent url(../images/cursor.png) center center no-repeat;
  background-size: contain;
  top: 5px;
}

table {
  margin-top: 5px;
  width: calc(100% - 4px);
  box-sizing: border-box;
  padding: 0px;
  position: relative;
}

table thead tr th {
  text-align: left;
  font-weight: 400;
  background-color: var(--color-red);
  color: var(--color-white);
  padding-left: 4px;
}

table tbody tr:nth-child(even) {
  background-color: rgba(201, 56, 238, 0.3);
}

img {
  width: 33%;
  float: right;
}

img[alt='Mapa de pantallas'],
img[alt='Screens map'],
img[alt='Odyssey By Fatbeard91'],
img[alt='18:57 (Rework) By Fatbeard91'],
#MisterioDeLaPeninsulaDelSimio img{
  width: 100%;
  float: none;
}

h4 + p img {
  margin-top: 10px;
}

a.pdf {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: white;
  background-color: var(--color-red);
  display: block;
  padding: 10px;
  margin: 0px;
  font-family: 'Fool';
  font-size: 30px;
  text-decoration: none;
  z-index: 100;
}

a.pdf:nth-of-type(2) {
  top: 0px;
  bottom: auto
}

@media screen {
  .columns {
    columns: auto;
  }

  body {
    font-size: 22px;
  }

  section {
    max-width: 700px;
    margin: auto;
  }
}

@media screen and (max-width: 770px) {
  section {
    overflow: hidden;
  }
}

@media screen and (max-width: 840px) {
  body {
    padding: 0 10px;
  }

  body:after,
  body:before {
    opacity: 0;
  }
}

@media screen {
  .saltopagina {
    opacity: 0; 
  }

  .saltopagina + * {
    margin-top: -15px;
  }

  .saltopagina + h2 {
    margin-top: 45px;
  }
}

@media print {
  @page {
    size: A4 landscape;
    margin: 0;
  }

  .nopdf {
    display: none !important;
    visibility: hidden !important;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}

/* Paginación */
@counter-style style {
  system: numeric;
}

body {
  counter-reset: primary 0;
}

.saltopagina {
  position: relative;
  counter-increment: primary 1; /* Increment the value of section counter by 1 */
}

.saltopagina:after {
  --size: 40px;
  font-family: 'Fool';
  color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
  content: counters(primary, "-", style);
  position: absolute;
  bottom: 8px;
  right: -35px;
  width: var(--size);
  height: var(--size);
  z-index: 40;
  opacity: 1;
  font-size: 30px;
  padding: 5px 5px 3px;
  text-shadow: 3px 0px 3px var(--color-red-shadow);
}

.saltopagina.even:after {
  left: -35px;
  right: auto;
}

.saltopagina:nth-of-type(3):after {
  opacity: 0;
}

/* Indice */
.likeH2 {
  display: block;
  cursor: pointer;
  margin: 0 0 3px 0;
  text-decoration: none;
  font-size: 1em;
  max-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.likeH2 span {
  float: right;
  margin-right: 5px;
}