:root {
  --padding: 62px; /*Ancho de los bordes de la página*/
  --color-red: #0f380f;
  --color-white: #0f380f;
  --color-black: #cadc9f;
}

body {
  background: var(--color-black) url(./images/bg.png) repeat top center;
  background-size: 30% auto;
  margin: 0;
  padding: 0;
  font-family: "Advent Pro", sans-serif;
  color: var(--color-white);
  font-size: 12px;
}

body:before {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: transparent url(./images/border1.png) top left repeat-y
}

body:after {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  background: transparent url(./images/border2.png) top left repeat-y;
}

body > * {
  padding: 0 0 calc(var(--padding) / 3) 0;
  margin: 0 var(--padding);
}

body > *:first-child,
.saltopagina + * {
  margin-top: var(--padding);
  padding-top: 0;
}

.columns {
  columns: 2;
}

.columns > *:first-child,
.saltocolumna + * {
  margin-top: 0;
  padding-top: 0;
}

.saltocolumna {
  display: block;
  break-before: column;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

blockquote {
  border: 1px solid var(--color-white);
  padding: 10px;
  background-color:  var(--color-white);
  border-radius: 5px;
  margin: 10px 0px;
  color:  var(--color-black);
}

blockquote p {
  padding: 0px;
  margin: 0px;
}

blockquote p:before {
  content: "\0024\0020";
  font-weight: 700;
}

blockquote a {
  color:  var(--color-black);
}

/* Titulares */

h1 {
  font-family: "VT323", monospace;
  color: var(--color-red);
  font-size: 51px;
  /*background: transparent url(./images/portada.jpg) center bottom no-repeat;
  background-size: auto 100%;
  height: 212px;
  margin-bottom: 0px;
  margin-top: -5px !important;
  padding-top: 12px !important;
  text-shadow: 0px 0px 11px #000000;*/
}

h1 > a {
  display: block;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: var(--color-white);
  font-family: "VT323", monospace;
  font-weight: 400;
  text-decoration: none;
}

h2,
h3 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--color-red);
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*text-shadow: 0px 0px 11px #000000;*/
  margin-top: 5px;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h2:after {
  content: "_";
}

h2 + p, 
h3 + p {
  margin-top: 0px;
}

/* Otros elementos */

p,
ul {
  margin: 0.45em 0;
}

a {
  color: var(--color-white);
}

ul {
  padding-left: 12px;
}

ul li {
  list-style-type: none;
  position: relative;
}

ul li:before {
  content: '\268F';
  position: absolute;
  font-size: 10px;
  top: 0px;
  left: -12px;
  display: block;
  color: var(--color-white);
} 

table {
  margin-top: 5px;
  width: calc(100% - 4px);
  box-sizing: border-box;
  border: 2px dashed var(--color-white);
  padding: 5px;
  position: relative;

}

table thead tr th,
table tr th {
  text-align: left;
  font-family: "VT323", monospace;
  font-weight: 700;
  font-size: 1.5em;
  background-color: var(--color-white);
  color: var(--color-black);
}

table.special th,
table.special td {
  font-size: 1.3em;
}

table strong {
  color: var(--color-red);
  font-family: "VT323", monospace;
}

@media screen {
  .saltopagina {
    border-top: 3px dashed var(--color-white);
    border-bottom:  3px dashed var(--color-white);
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}
