:root {
  --padding: 62px; /*Ancho de los bordes de la página*/
  --color-red: #ad3131;
  --color-white: #fff;
  --color-black: #000;
}

@font-face {
	font-family: 'Osaka-Sans Serif';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./osaka-re.ttf) format('truetype');
}

@font-face {
	font-family: 'Comic Sans MS';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./ComicSansMS.ttf) format('truetype');
}

body {
  background: var(--color-white) url(./images/bg.png) repeat top center;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", sans-serif;
  color: var(--color-black);
  font-size: 12px;
}

body:before {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  /*Aqui gestionamos el diseño del borde*/
  background: transparent url(./images/border1.png) top left repeat-y
}

body:after {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  /*Aqui gestionamos el diseño del borde*/
  background: transparent url(./images/border2.png) top left repeat-y;
}

body > * {
  padding: 0 0 calc(var(--padding) / 3) 0;
  margin: 0 var(--padding);
}

body > *:first-child,
.saltopagina + * {
  margin-top: var(--padding);
  padding-top: 0;
}

.columns {
  columns: 2;
}

.columns > *:first-child,
.saltocolumna + * {
  margin-top: 0;
  padding-top: 0;
}

.saltocolumna {
  display: block;
  break-before: column;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

blockquote {
  border: 1px solid black;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  margin: 10px 0px;
  color: white;
}

blockquote p {
  padding: 0px;
  margin: 0px;
  font-style: italic;
}

/* Titulares */

h1 {
  background: transparent url(./images/titular.png) center bottom no-repeat;
  background-size: 100% auto;
  font-family: 'Osaka-Sans Serif', sans-serif;
  color: var(--color-white);
  text-align: center;
  height: 110px;
  font-size: 35px;
  -webkit-text-stroke: 2px black;
  margin-bottom: 0px;
  margin-top: -5px !important;
}

#NinjasCutresAventuras h1 {
  background-image: url(./images/titular_aventuras.png);
  height: 150px;
}

#NinjasCutresSamuraisPaletos h1 {
  background-image: url(./images/titular_samurais.png);
  height: 150px;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
}

h1 > a {
  display: block;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: var(--color-white);
  font-family: 'Osaka-Sans Serif', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

h2,
h3 {
  font-family: 'Osaka-Sans Serif', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-red);
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

h2 + p, 
h3 + p {
  margin-top: 0px;
}

/* Otros elementos */

p,
ul {
  margin: 0.45em 0;
}

a {
  color: var(--color-black);
}

ul {
  padding-left: 19px;
}

ul li {
  list-style-type: none;
  position: relative;
}

ul li:before {
  content: '\2605';
  position: absolute;
  font-size: 20px;
  top: -7px;
  left: -20px;
  display: block;
  color: var(--color-black);
} 

table {
  margin-top: 5px;
  width: calc(100% - 4px);
  box-sizing: border-box;
  border: 2px dashed var(--color-white);
  padding: 5px;
  position: relative;

}

table thead tr th {
  text-align: left;
  font-weight: 400;
}

table strong {
  color: var(--color-red);
}

a.pdf {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: var(--color-white);
    background-color: var(--color-red);
    display: block;
    padding: 10px;
    margin: 0px;
    font-family: 'Osaka-Sans Serif';
    font-size: 30px;
    text-decoration: none;
    z-index: 100;
}

@media screen {
  .saltopagina {
    border-top: 3px dashed var(--color-white);
    border-bottom:  3px dashed var(--color-white);
  }
  .columns {
    columns: 1;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .nopdf {
    display: none !important;
    visibility: hidden !important;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}
