@font-face {
  font-family: 'Cheddar Gothic Stencil';
  font-weight: normal;
  font-style: normal;
  src: url('./CheddarGothic-Stencil.otf') format('opentype');
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.columns {
  columns: 2;
}

a,
a:visited,
a:active {
    color: black;
}

h1,
h2,
h3 {
  font-family: 'Cheddar Gothic Stencil';
  font-weight: 700;  
  letter-spacing: 1;
}

h1 {
    font-size: 5em;
    text-align: center;
}

h1 a {
    display: block;
    text-align: center;
    font-size: 0.6em;
    text-decoration: none;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

table {
  border-collapse: collapse;
}

table tr th,
table tr td {
  text-align: left;
  vertical-align: top;
  padding: 3px;
}

table tr:nth-of-type(even) {
  background-color: #cecece;
}

img {
    max-width: 100%;
}

ul, ol {
  margin-left: -20px;
}

pre {
  white-space: pre-wrap;
}

pre code {
  background-color: #cecece;
  font-family: "Lato", sans-serif;
  padding: 10px;
  display: block;
}

blockquote {
  border: 1px solid black;
  margin: 0px;
  padding: 10px;
}

blockquote p:first-of-type {
  margin-top: 0px;
}

blockquote p:last-of-type {
  margin-bottom: 0px;
}