@font-face {
  font-family: 'Cheddar Gothic Stencil';
  font-weight: normal;
  font-style: normal;
  src: url('./CheddarGothic-Stencil.otf') format('opentype');
}

:root {
  --padding: 50px; /*Ancho de los bordes de la página*/
  --grey: #cecece;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body#ElRio {
  background: white url(../images/bg-rio.jpg) repeat top center;
  background-size: 100% auto;
}


body > * {
  padding: 0 0 calc(var(--padding) / 3) 0;
  margin: 0 var(--padding);
}

body > *:first-child,
.saltopagina + * {
  margin-top: var(--padding);
  padding-top: 0;
}

.columns {
  columns: 2;
}

.columns > *:first-child:not(h1),
.saltocolumna + * {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

a,
a:visited,
a:active {
    color: black;
}

h1,
h2,
h3 {
  font-family: 'Cheddar Gothic Stencil';
  font-weight: 700;  
  letter-spacing: 1;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h1 a {
    display: block;
    text-align: center;
    font-size: 0.5em;
    text-decoration: none;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

table {
  border-collapse: collapse;
  border-left: 1px solid black;
}

table tr th,
table tr td {
  text-align: left;
  vertical-align: top;
  padding: 3px;
}

table thead tr {
  background-color: var(--grey);
}

table tbody tr:nth-of-type(even) {
  background-color: var(--grey);
}

img {
    max-width: 100%;
}

ul, ol {
  margin-left: -20px;
}

pre {
  white-space: pre-wrap;
}

pre code {
  background-color: var(--grey);
  font-family: "Lato", sans-serif;
  padding: 10px;
  display: block;
}

blockquote {
  border: 1px solid black;
  margin: 0px;
  padding: 10px;
  background-color: white;
}

blockquote p:first-of-type {
  margin-top: 0px;
}

blockquote p:last-of-type {
  margin-bottom: 0px;
}




@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}




.saltocolumna {
  display: block;
  break-before: column;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

/* Paginación */
@counter-style style {
  system: numeric;
}

body {
  counter-reset: primary 0;
}

.saltopagina {
  position: relative;
  counter-increment: primary 1; /* Increment the value of section counter by 1 */
}

.saltopagina:after {
  font-family: 'Cheddar Gothic Stencil';
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  content: counters(primary, "-", style);
  position: absolute;
  bottom: 20px;
  right: calc(50% - 35px);
  width: 70px;
  height: 50px;
  z-index: 10;
  opacity: 1;
  font-size: 1.2em;
}
