:root {
  --padding: 65px; /*Ancho de los bordes de la página*/
  --color-red: #ad3131;
  --color-white: #fff;
  --color-black: #000;
}

body {
  background: var(--color-black) url(./images/bg.png) repeat-y top center;
  background-size: contain;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--color-white);
  font-size: 13.5px;
}

body:before {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  /*Aqui gestionamos el diseño del borde*/
  background: var(--color-black) url(./images/border1.jpg) top left repeat-y
}

body:after {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  /*Aqui gestionamos el diseño del borde*/
  background: var(--color-black) url(./images/border2.jpg) top left repeat-y;
}

body > * {
  padding: 0 0 calc(var(--padding) / 3) 0;
  margin: 0 var(--padding);
}

body > *:first-child,
.saltopagina + * {
  margin-top: var(--padding);
  padding-top: 0;
}

.columns {
  columns: 2;
}

.columns > *:first-child,
.saltocolumna + * {
  margin-top: 0;
  padding-top: 0;
}

.saltocolumna {
  display: block;
  break-before: column;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

/* Titulares */

h1 {
  background: var(--color-black) url(./images/titular.jpg) center center no-repeat;
  background-size: cover;
  font-family: "Limelight", sans-serif;
  text-align: center;
  height: 197px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  font-size: 35px;
}

h1 > a {
  display: block;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

h2,
h3 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-red);
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-shadow: -1px 0px 1px #f79494;
}

h2 {
  font-size: 1.3em;
}

h2 + p, 
h3 + p {
  margin-top: 0px;
}

/* Otros elementos */

p,
ul {
  margin: 0.45em 0;
}

a {
  color: var(--color-white);
}

ul {
  padding-left: 19px;
}

ul li {
  list-style-type: none;
  position: relative;
}

ul li:before {
  content: "\266A";
  position: absolute;
  font-size: 30px;
  top: -12px;
  left: -20px;
  display: block;
  color: var(--color-red);
} 

table {
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 2px dashed var(--color-white);
  padding: 5px;
}

table thead tr th {
  text-align: left;
  font-weight: 400;
}

table strong {
  color: var(--color-red);
  font-family: "Limelight", sans-serif;
}

@media screen {
  .saltopagina {
    border-top: 3px dashed var(--color-white);
    border-bottom:  3px dashed var(--color-white);
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}
