:root {
  --padding: 65px; /*Ancho de los bordes de la página*/
}

body {
  background: #fff url(./bg.jpg) repeat-y top center;
  background-size: contain;
  margin: 0;
  padding: 0;
}

body:before {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  /*Aqui gestionamos el diseño del borde*/
  /*background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,1,1,1) 30%, rgba(255,255,255,0) 100%);*/
}

body:after {
  content: "";
  display: block;
  width: var(--padding);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  /*Aqui gestionamos el diseño del borde*/
  /*background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(19,1,1,1) 70%, rgb(0,0,0,1) 100%);*/
}

body > * {
  padding: 0 0 calc(var(--padding) / 3) 0;
  margin: 0 var(--padding);
}


body > *:first-child,
.saltopagina + * {
  margin-top: var(--padding);
  padding-top: 0;
}

.columns {
  columns: 2;
}

.columns > *:first-child,
.saltocolumna + * {
  margin-top: 0;
  padding-top: 0;
}

/* Imágenes */

img {
  width: calc(100% - (var(--padding) * 2));
  max-width: calc(100% - (var(--padding) * 2));
}

.columns > img {
  width: 100%;
  max-width: 100%;
}

/* Paginación */
@counter-style style {
  system: numeric;
  symbols: "" "1" "2" "3" "4" "5" "6" "7" "8" "9" "10";
}

body {
  counter-reset: primary 0;
}

.saltopagina {
  position: relative;
  counter-increment: primary 1; /* Increment the value of section counter by 1 */
}

.saltopagina:after {
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: counters(primary, "-", style);
  color: black;
  position: absolute;
  bottom: calc(var(--padding) - var(--size));
  left: calc(50% - (var(--size) / 2));
  width: var(--size);
  height: var(--size);
  background-color: white;
  z-index: 15;
  opacity: 1;
}

@media screen {
  .saltopagina {
    border-top: 3px dashed black;
    border-bottom:  3px dashed black;
    position: relative;
  }

}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .saltocolumna {
    display: block;
    break-before: column;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
  
  .saltopagina {
    display: block;
    page-break-before: always;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  /*.saltopagina:last-of-type {
    page-break-before: avoid;
  }

  .saltopagina:last-of-type:after {
    bottom: 0px;
  }*/
}
